<div class="container parametre mat-elevation-z8">
    <h1 class="title">Mettre à jour votre profil</h1>
    <div class="row">
        <div class="col-md-6">
            <button mat-raised-button color="primary" (click)="openDialogPassword()">Modifier votre mot de passe</button>
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary" (click)="openDialogPhone()">modifier votre numéro de téléphone</button>
        </div>
        <button mat-raised-button color="warn" id="suppr">Supprimer votre compte</button>
    </div>
</div>
