.cards-holder {
    border: 20rem;
    justify-content: left;
    align-self: stretch;
    padding-top: 1rem;
  }

  .image
  {
    margin-right: 15px;
    display: flex;
    align-items: center;
    margin-left:15px ;
    
  }
  
  .card {
    border-radius: 2rem;
    background-color: #59CCE2;
    max-height: 30%;
    overflow: hidden;
  }
  
  .card:hover {
    background-color: #9fd6e0;
  }
  
  .card-title {
    color: #303DB7;
    font-family: 'Skranji', cursive;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .content {
    justify-content: left;
  }
  
  .img-demand {
    margin: 0rem;
    position: absolute;
  }
  
  .button-add-demande {
    padding: 1rem;
    background-color: #303DB7;
    color: #FFF;
    font-family: 'Skranji', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto auto;
    font-size: medium;
    border-radius: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
  }