<h2 class="title">Modifier votre mot de passe</h2>

<mat-dialog-content>
  
    <form [formGroup]="phoneEdit" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label></label>
            <input type="tel" class="form-control" id="newPhoneNumber" placeholder="Nouveau numéro de téléphone" formControlName="newPhoneNumber">
            <p *ngIf="submitClicked && !newPhoneNumberValid">entrer votre nouveau numéro de téléphone</p>
        </div>
        <div>
            <button (click)="annuler()" class="btn btn-danger">Annuler</button>
            <button type="submit" class="btn btn-success">Confirmer</button>
        </div>
    </form>
 
</mat-dialog-content>
