.title
{
    margin: 25px auto;
    font-size: 30px;
    color: #303DB7;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    margin-bottom: 45px;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 4px solid #303DB7;
}

.cardd
{
    margin: 20px;
    width: 320px;
    height: 500px;
    text-align: center;
    background-color: #59CCE2;
    border-radius: 10px;
}

mat-card-header
{
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

.cardTitle
{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
}

.image
{
    height:250px;
    margin-bottom: 15px;
}

.subtitle
{
    color: #FFF;
    font-size: 15px;
    font-style: italic;
}

.card-text
{
    color: #303DB7;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin: 0 auto;
}

mat-card-content
{
    text-align: center;
}