/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Krona+One&display=swap');



/*tool bar*/
mat-toolbar {
    background: #59CCE2;
    color: white;

}
mat-toolbar mat-icon
{
    font-size: 30px;
    margin-right: 45px;
    margin-left: 10px;
}
mat-toolbar h1
{
    font-family: 'Skranji', cursive;
    font-size: 30px;
    margin-left: 10px;

}

mat-toolbar h3
{
    position: absolute;
    right: 20px;
    font-family: 'Krona One', sans-serif;
    color: #303DB7;
}

/*side navbar */

mat-sidenav {
    margin: 16px;
    width: 260px;
    border-right: none;
    background: #59CCE2;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

mat-nav-list a
{
    color: #304455;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
}

mat-nav-list .active
{
    color: #303DB7;
    border-right: #303DB7 4px solid;
}

mat-nav-list mat-icon
{
    height: 30px;
    width: 30px;
}

.deconnexion
{
    padding: 20px;
    background-color: #303DB7;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin:auto auto;
    font-size: large;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 28px;
}

.deconnexion mat-icon
{
    margin-right: 10px;
    font-weight: bold;
}

/* content */
.content {

    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}