<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 div1">
            <h4>Bienvenue Au</h4>
            <h1>Artisan7</h1>
            <img src="././assets/pics/5.png" alt="Blueprint Wire illustration">
        </div>
        <div class="col-md-9 div2">
            <div class="content">
                <mat-tab-group dynamicHeight mat-align-tabs="center" >
                    <mat-tab label="Artisan"> 
                        <form [formGroup]="signupArtisanForm" (ngSubmit)="onSubmitArtisan()">
                            <div class="name">
                              <input type="text" class="form-control"  placeholder="Name" formControlName="name">
                            </div>
                            <div *ngIf="!nameArtisanValide && submitArtisanClicked" class="alert alert-danger" >Nom invalide.</div>
                            <div >
                                <input type="text" class="form-control"  placeholder="numéro de téléphone" formControlName="phone">
                            </div>
                            <div *ngIf="!phoneArtisanValid && submitArtisanClicked" class="alert alert-danger" >numéro de téléphone invalide.</div>
                            <div >
                              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
                            </div>
                            <div *ngIf="!emailArtisanValid && submitArtisanClicked" class="alert alert-danger" >Email invalide.</div>
                            <div >
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe"  formControlName="motDePasse">
                            </div>
                            <div *ngIf="!passwordArtisanValid && submitArtisanClicked" class="alert alert-danger" > Mot de passe  invalide.</div>
                            <div >
                                <input type="password" class="form-control" id="exampleInputPasswordRepeated" placeholder=" Répeter mot de passe" formControlName="motDePasseRep">
                            </div>
                            <div *ngIf="!passwordArtisanRepValide && submitArtisanClicked && passwordArtisanValid" class="alert alert-danger" >Mot de passe différent.</div>
                            <mat-form-field  class="secteur" >
                            <mat-select placeholder="Secteurs de travail" [(value)]="selectedSecteur" >
                                <mat-option  *ngFor="let secteur of secteurs" [value]="secteur.value" class="select">
                                  {{secteur.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            <br>  
                            <mat-checkbox class="check" (change)="setCheckArtisan()">Accepter <a>les conditions d’utilisations</a></mat-checkbox>
                            <br>
                            <button type="submit" class="btn btn-primary">S'inscrire</button><br>
                            <a routerLink="/login">J’ai déjà un compte</a>
                        </form>
                    </mat-tab>
                    <mat-tab label="Client"> 
                        <form [formGroup]="signupClientForm" (ngSubmit)="onSubmitClient()">
                            <div class="name">
                              <input type="text" class="form-control"  placeholder="Nom" formControlName="name">
                            </div>
                            <div *ngIf="!nameValide && submitClientClicked" class="alert alert-danger" >Nom invalide.</div>
                            <div >
                                <input type="text" class="form-control"  placeholder="numéro de téléphone" formControlName="phone">
                            </div>
                            <div >
                              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
                            </div>
                            <div *ngIf="!emailValid && submitClientClicked" class="alert alert-danger" >Email invalide.</div>
                            <div >
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" formControlName="motDePasse">
                            </div>
                            <div *ngIf="!passwordValid && submitClientClicked" class="alert alert-danger" > Mot de passe  invalide.</div>
                            <div >
                                <input type="password" class="form-control" id="exampleInputPasswordRepeated" placeholder=" Répeter mot de passe" formControlName="motDePasseRep">
                            </div>
                            <div *ngIf="!passwordRepValide && submitClientClicked && passwordValid" class="alert alert-danger" >Mot de passe différent.</div>
                            <br>  
                            <mat-checkbox class="check" (change)="setCheckClient()">Accepter <a>les conditions d’utilisations</a></mat-checkbox>
                            <br>
                            <button type="submit" class="btn btn-primary">S'inscrire</button><br>
                            <a routerLink="/login">J’ai déjà un compte</a>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>


<footer >
    <div class="container-fluid">
      <p >Nous contacter</p>
      <p >© Copyright Artisant7.com</p>
    </div>
</footer>


