<h2 class="title">Ajouter ou supprimer un projet</h2>

<div class="content">
    <mat-tab-group dynamicHeight mat-align-tabs="center" >
        <mat-tab label="Vos projets"> 
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let projet of projects">
                        <td>{{projet.id}}</td>
                        <td>{{projet.name }}</td>
                        <td><button (click)="supprimerProjct(projet.id , projet.name)" >Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
            <button  (click)="annuler()" class="btn btn-danger">Annuler</button>
        </mat-tab>
        <mat-tab label="Ajouter projet"> 
            <form [formGroup]="projetAdd" (ngSubmit)="onSubmit()" >
                <div class="mb-3">
                    <input type="text" class="form-control" id="projetName" placeholder="Nom du projet" formControlName="projetName">
                    <p *ngIf="submitClicked && !nameProjectValid">Nom de projet invalide ou existe déjà</p>
                    <div class="img">
                        <img src="{{url}}">
                        <input type="file" (change)="uplode($event)" accept="*.png.jpg" id="">
                        <p *ngIf="submitClicked && !photoProjectValid">coisir une photo de votre profile</p>
                    </div>
                </div>
                <div>
                    <button  (click)="annuler()" class="btn btn-danger">Annuler</button>
                    <button type="submit" class="btn btn-success">Confirmer</button>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>
